# Source code
src/
commands/
docs/
assets/
ignore/

# Rust artifacts
target/
Cargo.toml
Cargo.lock

# Development files
.env
.gitignore
cli.js
*.db
*.txt

# Include essential files
!bin/
!README.md
!LICENSE
